body {
    font-family: sans-serif;
}

.link-header{
    box-shadow: 10px 10px 5px 0 grey;
    background-image: linear-gradient(to right, rgb(0, 174, 255), white, rgb(0, 174, 255));
    color:aqua;
    border-radius: 7px;
    font-size: 30px;
    margin-top: 50px;
    font-family: Segoe Script;
}

header {
    background-color: lightblue;
    height: 70px;
}

h1 {
    text-align: center;
}

.link-text{
    text-decoration: none;
    background-color: lightblue;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

footer{
    background-color: lightblue;
    margin: 20px;
    height: 150px;
    padding-top: 20px;
}

.social{
    margin: 20px;
}
